.DS_Store
# Binaries for programs and plugins
*.exe
*.log
*.exe~
*.dll
*.so
*.dylib
*.tmp
*.memprof
*.pprof


/.idea
/.vscode
/logs
/examples

*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out